.thumbnail-1{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
    object-position: left;
    vertical-align: middle;
}

.search-bar{
    vertical-align: middle;
    height: 30px;
    width: 200px;
    border: none;
    margin-left: 8px;
}

.tweet-button{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

