.thumbnail{
    width: 100%;
    cursor: pointer;
}

.video-details{
    display: grid;
    grid-template-columns: 48px 1fr;
    margin-top: 8px;
}

.channel-picture{
    width: 36px;
    border-radius: 100%;
    cursor: pointer;
}

.video-info{
    font-size: 12px;
    color: #606060;
}

.video-title{
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
    margin-bottom: 10px;
    text-decoration: none;
}

.video-author{
    margin-top: 10px;
    color: #606060;
    text-decoration: none;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
}

@media (man-width:750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:1199px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1200px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.thumbnail-container{
    position: relative;
}
.video-time{
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    position: absolute;
    bottom: 9px;
    right: 5px;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: text;
}

a{
    text-decoration: none;
}